@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #0d0e0c;
  --light-blue: #c9d8bf;
}

body {
  background: var(--light-blue);
}

h1,
h2,
p {
  color: var(--black);
  padding: 5px;
}

h1 {
  font-family: "BioRhyme", serif;
  font-weight: 700;
}

h2 {
  font-family: "BioRhyme", serif;
  font-weight: 400;
}

p {
    font-family: 'Space Mono', monospace;
    text-align: justify;
}

#posts {
  margin: 20px;
}

div {
  padding: 20px;
}
